<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.serviceModel>

		<behaviors>
			<serviceBehaviors>
				<behavior name="publish-wsdl">
					<serviceMetadata 
							httpGetEnabled="true"
							httpGetUrl="wsdl"
							/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>			
			<service name="ConceptArchitect.Services.SimpleGreetService"  behaviorConfiguration="publish-wsdl">
				
				<endpoint name="tcp-greet" address="greet"
						  binding="netTcpBinding" contract="ConceptArchitect.Services.IGreetService" />

				<endpoint name="http-greet" address="greet"
						  binding="basicHttpBinding" contract="ConceptArchitect.Services.IGreetService" />


				<endpoint name="tcp-timed-greet" address="timed-greet"
						  binding="netTcpBinding" contract="ConceptArchitect.Services.ITimedGreetService" />

				<endpoint name="http-timed-greet" address="timed-greet"
						  binding="basicHttpBinding" contract="ConceptArchitect.Services.ITimedGreetService" />


				<endpoint name="wsdl" address="wsdl" binding ="mexHttpBinding" contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000"/>
						<add baseAddress="net.tcp://localhost:5000"/>
					</baseAddresses>
				</host>
			</service>			
		</services>		
	</system.serviceModel>
	
	
	
</configuration>