<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="http-greet" />
                <binding name="http-timed-greet" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="tcp-greet">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="tcp-timed-greet">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:5000/greet" binding="netTcpBinding"
                bindingConfiguration="tcp-greet" contract="GreetServiceProxy.IGreetService"
                name="tcp-greet">
                <identity>
                    <userPrincipalName value="SHIVOHAM\vivek" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/greet" binding="basicHttpBinding"
                bindingConfiguration="http-greet" contract="GreetServiceProxy.IGreetService"
                name="http-greet" />
            <endpoint address="net.tcp://localhost:5000/timed-greet" binding="netTcpBinding"
                bindingConfiguration="tcp-timed-greet" contract="GreetServiceProxy.ITimedGreetService"
                name="tcp-timed-greet">
                <identity>
                    <userPrincipalName value="SHIVOHAM\vivek" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/timed-greet" binding="basicHttpBinding"
                bindingConfiguration="http-timed-greet" contract="GreetServiceProxy.ITimedGreetService"
                name="http-timed-greet" />
        </client>
    </system.serviceModel>
</configuration>